In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lufilufi,WS,2022-04-24 13:22:46,-13.8745,-171.5986,82.11,73,75,5.79
1,1,Kodiak,US,2022-04-24 13:22:46,57.7900,-152.4072,38.71,93,100,10.36
2,2,Kombissiri,BF,2022-04-24 13:22:46,12.0656,-1.3375,105.78,6,99,9.69
3,3,Provideniya,RU,2022-04-24 13:22:47,64.3833,-173.3000,23.40,83,13,4.03
4,4,Lavrentiya,RU,2022-04-24 13:22:47,65.5833,-171.0000,13.08,92,91,5.82

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your google API key.
gmaps.configure(api_key=g_key)

In [6]:
#general syntax for creating a heatmap 

# 1. Assign the locations to an array of latitude and long pairs
# locations = [latitude, longitude]

#2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations aray length

#3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperature)


#5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)

#6. Call the figure to the plot data
#fig

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a min and max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lufilufi,WS,2022-04-24 13:22:46,-13.8745,-171.5986,82.11,73,75,5.79
5,5,Pitimbu,BR,2022-04-24 13:22:47,-7.4706,-34.8086,79.39,77,98,14.12
8,8,Dingle,PH,2022-04-24 13:22:48,10.9995,122.6711,78.08,86,88,7.96
11,11,Kapaa,US,2022-04-24 13:22:49,22.0752,-159.3190,76.98,87,100,18.41
18,18,Mahebourg,MU,2022-04-24 13:22:51,-20.4081,57.7000,77.29,73,75,17.27
20,20,Karratha,AU,2022-04-24 13:22:52,-20.7377,116.8463,81.91,58,0,4.94
27,27,Kapit,MY,2022-04-24 13:22:54,2.0167,112.9333,76.01,97,100,1.48
30,30,Sao Filipe,CV,2022-04-24 13:22:55,14.8961,-24.4956,76.53,67,4,5.97
35,35,Butaritari,KI,2022-04-24 13:22:57,3.0707,172.7902,80.67,78,100,12.46
39,39,Touros,BR,2022-04-24 13:22:58,-5.1989,-35.4608,83.32,73,100,13.58

In [12]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [13]:
# Create a DF called hotel_df to store hotel names along with the city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0     Lufilufi      WS     82.11 -13.8745 -171.5986
5      Pitimbu      BR     79.39  -7.4706  -34.8086
8       Dingle      PH     78.08  10.9995  122.6711
11       Kapaa      US     76.98  22.0752 -159.3190
18   Mahebourg      MU     77.29 -20.4081   57.7000
20    Karratha      AU     81.91 -20.7377  116.8463
27       Kapit      MY     76.01   2.0167  112.9333
30  Sao Filipe      CV     76.53  14.8961  -24.4956
35  Butaritari      KI     80.67   3.0707  172.7902
39      Touros      BR     83.32  -5.1989  -35.4608

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found .... skipping.")

Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.
Hotel not found .... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lufilufi,WS,82.11,-13.8745,-171.5986,Leuaina Beach Resort and Spa
5,Pitimbu,BR,79.39,-7.4706,-34.8086,Reserva do Abiaí
8,Dingle,PH,78.08,10.9995,122.6711,SEGAYA PROPERTY
11,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Mahebourg,MU,77.29,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...
511,Phayao,TH,77.07,19.2500,100.2500,chuthagarden
512,Grand Gaube,MU,77.40,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
513,Mahibadhoo,MV,85.17,3.7833,72.9667,Omadhoo Inn
524,Pamanukan,ID,80.29,-6.2842,107.8106,Paris Day Hotel Pamanukan
528,Mapiripan,CO,79.36,2.8892,-72.1256,Monserrate

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))